<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
		<script type="text/javascript" src="funciones/funciones_javascript.js"></script>
		<link rel="stylesheet" type="text/css" href="funciones/sala.css" />
</head>
<body>
<a href="log_auditoria.php?Atras={{atras}}">Atrás</a>
<a href="log_auditoria.php?Siguiente={{siguiente}}">Siguiente</a>
{{imprimir_matriz}}
</body>
</html>