

</div>
<!--===================================================-->
<!--End page content-->


</div>
<!--===================================================-->
<!--END CONTENT CONTAINER-->

<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">

        <!--Shortcut buttons-->
        <!--================================-->
        <div id="mainnav-shortcut"></div>
        <!--================================-->
        <!--End shortcut buttons-->


        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">

                        <!--Category name-->
                        <li class="list-header">Navegación</li>

                    </ul>


                    <!--Widget-->
                    <!--================================-->
                    <div class="mainnav-widget">


                    </div>
                    <!--================================-->
                    <!--End widget-->

                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->

    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->

<!--ASIDE-->
<!--===================================================-->
<aside id="aside-container">
    <div id="aside"><div class="nano"><div class="nano-content"></div></div></div>
</aside>
<!--===================================================-->
<!--END ASIDE-->

</div>



<!-- FOOTER -->
<!--===================================================-->
<footer id="footer"> </footer>
<!--===================================================-->
<!-- END FOOTER -->


<!-- SCROLL TOP BUTTON -->
<!--===================================================-->
<button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
<!--===================================================-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="{{__urlAsset}}/js/jquery-3.6.0.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="{{__urlAsset}}/js/bootstrap.min.js"></script>


<!--Fast Click [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/fast-click/fastclick.min.js"></script>


<!--Nifty Admin [ RECOMMENDED ]-->
<script src="{{__urlAsset}}/js/nifty.min.js"></script>

<!--Sparkline [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/sparkline/jquery.sparkline.min.js"></script>


<!--Skycons [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/skycons/skycons.min.js"></script>


<!--Switchery [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/switchery/switchery.min.js"></script>


<!--Bootstrap Select [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/bootstrap-select/bootstrap-select.min.js"></script>

</body>
</html>
