* {
         box-sizing:border-box;
    -moz-box-sizing:border-box;
}
body#mando {
    font-family: 'Fjalla One', sans-serif;
    background: url(../img/line.png) #2c8b86;
    overflow-y:scroll;
}
body.mando #encabezado {
    font-family: 'Fjalla One', sans-serif;
}
.cajon {
    max-width: 960px;
    min-width: 650px;
    margin: 0 auto;
    padding: 0 30px;
}
#encabezado {
    background: url(../img/line.png) #1e5251;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

#encabezado .cajon > div {
    float: left;
    color: #fff;
}
#encabezado .cajon div div:nth-child(1) {
    color: #e5d912;
    font-size: 2.5em;
    line-height: 1.2em;
}
#encabezado .cajon div div:nth-child(2) {
    color: #aae0de;
    font-size: 2.1em;
    line-height: 1em;
    margin-right: 20px;
}
#encabezado .cajon > div:nth-child(2) {
    color: #fff;
    font-size: 5.5em;
    line-height: 1em;
}
body.mando #encabezado .cajon div:nth-child(2) {
    font-size:1.5em;
}
body.mando #encabezado .cajon > div {
    float: none;
}
span.titulo-programa {
    color: #aae0de;
    font-size: 1.4em;
}
li {
    list-style: none;
}
li.bloque > a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
a, a:hover, a:active, a:focus {
    outline: 0;
}
li.bloque {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background-color: #1e5251;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
li.bloque:hover {
    background-color: #e5d912;
}
li.bloque:hover > a {
    color: #1e5251;
}
div.colapsable {
    background: url(../img/colapsable.svg);
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -20px;
    position: absolute;
    right: 5px;
}
div > ul {
    padding: 0;
}
div > ul {
    counter-reset:section;
}
li#uno, li#dos {
    border-left: 3px solid #1e5251;
    margin-left: 40px;
}
li#tres {
    margin-left: 43px;    
}
ul.programa {
    overflow:hidden;
    padding-bottom:20px;
}
li ul {
    margin: 0;
}
div.cajon > ul > li:before {
    display: inline-block;
    width: 40px;
    height: 40px;
    counter-increment:section;
    content:counter(section);
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #1e5251;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 2.4em;
    margin-left: -22px;
    margin-right: 10px;
}
.contenedor {
    background-color: #fff;
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
       -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
}
.contenedor a {
    text-decoration: none;
    font-size: 1em;
    line-height: 1.1em;
    display: block;
    padding: 3px;
    color: #2c8b86;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.contenedor a:hover {
    background-color: #e5d912;
    color: #1e5251;
}
li.titular {
    color: #1e5251;
}
.contenedor ul {
    padding: 10px;
    text-align: right;
}
.col1 {
    width: 31%;
    float: left;
    margin-right: 3%;
}
.col1:last-child {
    margin-right: 0;
}
.col2 {
    width: 65%;
    float: left;
    margin-right: 3%;
}
.col3 {
    width: 100%;
}
#segundo-a ul,
#segundo-b ul,
#tercero-a ul {
    float: left;
}
#dos .col1 {
    margin-right: 0;
}
#tercero-a ul {
    width: 33%;
}

@media only screen and (max-width: 800px) {
    .col1, .col2, .col3 {
        width: 100%;
    }
    #encabezado .cajon > div div {
        float: left;
        font-size: 2em !important;
        line-height: 1em !important;
    }
    #encabezado .cajon div div:nth-child(1) {
        margin-right: 7px;
    }
    /* Style adjustments for viewports that meet the condition */
}


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
