.Estilo22 {color: #FFFFFF; font-weight: bold; }
.Estilo4 {
	font-family: Tahoma;
	color: #FF0000;
	font-weight: bold;
}
.Estilo24 {
	font-family: Tahoma;
	color: #596221;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
}
.Estilo25 {
	font-size: 18px;
	color: #98BD0D;
}
.Estilo26 {color: #596221}
.Estilo28 {font-family: Tahoma; color: #596221; font-weight: bold; font-size: 18px; }
.Estilo30 {font-size: 18px}
.Estilo33 {font-family: Tahoma; color: #596221; font-weight: bold; font-size: 14px; }
.Estilo39 {
	color: #CC3366;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 14px;
}
.Estilo40 {color: #CC3366; }
.Estilo42 {color: #CC3366; font-size: 18px; }
