.loaderContent{
    background: rgba(256, 256, 256, 0.7);
    height: 100%;
    left: 0; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    display: none;
}
.contenedorInterior{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 48%; 
    text-align: center;
}
#mensaje{
    font-size: 1.9em;
}