<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{title}}</title>
		<link type="text/css" href="../../educacionContinuada/css/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/themes/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" /> 
		<link media="screen, projection" type="text/css" href="../../educacionContinuada/css/style.css" rel="stylesheet">
        <script type='text/javascript' language="javascript" src="../../js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../../js/jquery-ui-1.8.21.custom.min.js"></script> 
        <script type="text/javascript" language="javascript" src="../../educacionContinuada/js/functions.js"></script>
        <script type="text/javascript" language="javascript" src="../js/funcionesGestionContraprestaciones.js "></script>
		<style>
			form span.info{
				margin-left:15px;position:relative;top:2px;
				clear: right;
				display: inline-block;
				float: left;
			}
		</style>
	</head>
	<body class="body">
        <div id="container">
            <center><h1><font face="sans-serif">{{title}}</font></h1></center>
            <center><h3>{{nombreconvenio}}</h3></center>
        </div>
        <div>
            <fieldset>
            <center>
                <table cellpadding="3" border="0" width="920px">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipo Contraprestación</th>
                        <th>Tipo Practicante</th>
                        <th>Valor contraprestacion</th>
                        <th>Tipo Pago</th>
                        <th>Estado</th>
                        <th>Programas</th>
                        <th>Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#listas}}
                        <tr>
                            <td>{{row}}</td>
                            <td>{{nombretipocontraprestacion}}</td>
                            <td>{{NombrePracticante}}</td>
                            <td>{{ValorContraprestacion}}</td>
                            <td>{{NombrePagoContraprestacion}}</td>
                            <td>{{nombreestado}}</td>
                            <td>
                            <form action="../Controller/ModificarContraprestaciones.php" method="post">
                                <input type="hidden" name="Accion" id="Accion" value="programas" />
                                <input type="hidden" name="convenioid" id="convenioid" value="{{ConvenioId}}" />
                                <input type="hidden" name="Contraprestacion" id="Contraprestacion" value="{{IdContraprestacion}}" />
                                <input type="image" src="../../mgi/images/file_search.png" width="20"/>
                            </form>
                            </td>
                            <td>
                            <form action="../Controller/ModificarContraprestaciones.php" method="post">
                                <input type="hidden" name="Accion" id="Accion" value="detalles" />
                                <input type="hidden" name="Detalle" id="Detalle" value="{{ConvenioId}}" />
                                <input type="hidden" name="Detalle2" id="Detalle2" value="{{IdContraprestacion}}" />
                                <input type="image" src="../../mgi/images/file_search.png" width="20"/>
                            </form>
                            </td>
                        </tr>
                    {{/listas}}
                    </tbody>
                </table>
            <form action="../Controller/ModificarContraprestaciones.php" method="post">
                <input type="hidden" name="Accion" id="Accion" value="nuevo" />
                <input type="hidden" name="Detalle" id="Detalle" value="{{IdConvenio}}" />
                <input type="submit" name="nueva" value="Nueva Contraprestacion" />
                <input type="button" value="regresar" onclick="RegresarModificarcontraprestacion();" />
            </form>
            </center>
            </fieldset>
        </div>
    </body>
</html>