<div id="VerFormulario">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{title}}</title>
        <link rel="stylesheet" href="../../css/demo_page.css" type="text/css" /> 
        <link rel="stylesheet" href="../../css/demo_table_jui.css" type="text/css" />
        <link rel="stylesheet" href="../../css/themes/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" />
        <link rel="stylesheet" href="../../mgi/css/styleDatos.css" type="text/css" />
        <link rel="stylesheet" href="../../css/themes/smoothness/jquery-ui-1.8.4.custom.css" type="text/css" /> 
        <link rel="stylesheet" href="../../mgi/css/styleMonitoreo.css" type="text/css" /> 
       
		<script type="text/javascript" language="javascript" src="../../mgi/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../../mgi/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../../mgi/js/jquery.dataTables.js"></script>
        <script type="text/javascript" language="javascript" src="../../mgi/js/jquery-ui-1.8.21.custom.min.js"></script>   
        <script type="text/javascript" language="javascript" src="../../mgi/js/jquery.fastLiveFilter.js"></script>  
        <script type="text/javascript" language="javascript" src="../../mgi/js/functions.js"></script>  
        <script type="text/javascript" language="javascript" src="../../mgi/js/functionsMonitoreo.js"></script>
        <script type="text/javascript" language="javascript" src="../js/Bicicletero.js"></script>
       	
    	<script type="text/javascript">
           function validarNumeros(e) { // 1//**onkeydown="return validarNumeros(event)"*//
           
            		tecla = (document.all) ? e.keyCode : e.which; // 2
            		if (tecla==8) return true; // backspace
                    if (tecla==9) return true; // tab
            		//if (tecla==109) return true; // menos
                    //if (tecla==110) return true; // punto
            		//if (tecla==189) return true; // guion
            		//if (e.ctrlKey && tecla==86) { return true}; //Ctrl v
            		if (e.ctrlKey && tecla==67) { return true}; //Ctrl c
            		if (e.ctrlKey && tecla==88) { return true}; //Ctrl x
            		if (tecla>=96 && tecla<=105) { return true;} //numpad
             
            		patron = /[0-9]/; // patron
             
            		te = String.fromCharCode(tecla); 
            		return patron.test(te); // prueba
            }//function validarNumeros
            function val_texto(e) { //*onkeypress="return val_texto(event)"**//
                tecla = (document.all) ? e.keyCode : e.which;
                
               if(tecla==118){
                return false;
               }
                if (tecla==8 || tecla==0){ 
                    return true;
                }else{
                
                patron = /[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/;
                te = String.fromCharCode(tecla);
              
                return patron.test(te);
                }
            }//function val_texto
            function val_textoNumero(e){
                tecla = (document.all) ? e.keyCode : e.which;
                
                if (tecla==8) return true; // backspace
                if (tecla==9) return true; // tab
                if (tecla==109) return true; // menos
                if (tecla==110) return true; // punto
                if (tecla==189) return true; // guion
                if (tecla==47 || tecla==40 || tecla==41 || tecla==61 || tecla==63 || tecla==191 || tecla==161 || tecla==124 || tecla==58 || tecla==59 || tecla==44 || tecla==46 || tecla==45 || tecla==95) return true;
                if(tecla>=33 && tecla<=39)return true;//!
                if (tecla>=96 && tecla<=105){ return true;} //numpad
                if (tecla==8 || tecla==0){ 
                    return true;
                }else{
                
                patron = /[a-zA-ZñÑáéíóúÁÉÍÓÚ\s0-9]+$/;
                te = String.fromCharCode(tecla);
              
                return patron.test(te);
                }
            }//function val_textoNumero(){}
        </script>           
        <style>
        
        
        fieldset{
            border: grey 1px solid; margin: 1%;padding: 1%;
        }
        
        
        .tbNuevaInscripcion{
        	border: 0px;
        }
        
        td{
            border: 0px;
           
        }
        h4 {
			font-size: 24px;
			line-height: 26px;
			margin: 20px auto 10px;
			text-align:center;
		}
		
		legend {
			font-size: 1.15em;
		}
		
		.formData input{
			border-color: #ccc;
			border-style: solid;
			border-width: 1px;
			box-sizing: border-box;
			clear: right;
			display: block;
			float: left;
			font-size: 0.9em;
			line-height: 1.1em;
			margin-bottom: 10px;
			margin-left: 15px;
			padding: 3px;
			vertical-align: middle;    
			position: relative;
			top: 5px;
		}
		table.formData{
			    font-size: 14px;
		}
		#OrdenesVer #trtitulogris td{
			font-weight:bold;
		}
		#OrdenesVer table table tr td{
			border: 1px solid #999;
		}
		
		#OrdenesVer a {
			color: #0000EE;
			text-decoration:underline;
			cursor: pointer;
		}
        .Buton{
            background: transparent -moz-linear-gradient(center top , #7db72f, #4e7d0e) repeat scroll 0 0;
            border: 1px solid #538312;
            border-radius: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            color: #e8f0de;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            padding: 8px 19px 9px;
            text-align: center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);            
        }
       </style>
	<body class="body">
         <fieldset style="width: 50%;margin-left:2%; font-family: Lucida Grande, sans-serif; ">
            <legend><strong>Formulario de Docentes y Administrativos</strong></legend>
            <form id="AccesoDocenteAdmin">
            <input type="hidden" id="action_ID" name="action_ID" />
            <table style="width: 90%;" border="0" class="formData">
                <tr>
                    <td><strong>N&deg; Documento&nbsp;<span style="color: red;">(*)</span></strong></td>
                    <td>
                        <input type="text" name="NumDocenteAdmin" id="NumDocenteAdmin" onkeydown="return validarNumeros(event)" class="textAccesso" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Nombre&nbsp;<span style="color: red;">(*)</span></strong></td>
                    <td>
                        <input type="text" name="Nom_DocenteAdmin" id="Nom_DocenteAdmin" onkeypress="return val_texto(event)" class="textAccesso" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Apellido&nbsp;<span style="color: red;">(*)</span></strong></td>
                    <td>
                        <input type="text" name="Apll_DocenteAdmin" id="Apll_DocenteAdmin" onkeypress="return val_texto(event)" class="textAccesso" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Ingrese el contenido de la imagen<span style="color:red;">(*)</span></strong></td>                        
                </tr>
                <tr>
                    <td><img src="../../mgi/autoevaluacion/interfaz/phpcaptcha/captcha.php"/></td>
                    <td width="60px">                           
                        <input type="text" name="captcha" id="captcha" maxlength="6" size="6" class="textAccesso"  />
                    </td>    
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="Buton" type="button" id="Buscar" name="Buscar" onclick="BuscarData()" >Ingresar</button>                        
                    </td>
                </tr>
            </table>
         </form>
       </fieldset>
	</body>
</html>
</div>