.bg-white{
	background-color: #ffffff;
}
/* Big box with list of options */
#ajax_listOfOptions{
  position:absolute;  /* Never change this one */
  width:185px;  /* Width of box */
  height:auto;  /* Height of box */
  max-height:250px;
  overflow:auto;  /* Scrolling features */
  border:1px solid #3e4729;  /* Dark green border */
  background-color:#FFF;  /* White background color */
  text-align:left;
  font-size:0.9em;
  z-index:100;
}
#ajax_listOfOptions div{  /* General rule for both .optionDiv and .optionDivSelected */
  margin:1px;    
  padding:1px;
  cursor:pointer;
  font-size:0.9em;
}
#ajax_listOfOptions .optionDiv{  /* Div for each item in list */
  
}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
  background-color:#3e4729;
  color:#FFF;
}
#ajax_listOfOptions_iframe{
  background-color:#F00;
  position:absolute;
  z-index:5;
}