<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{{__urlAsset}}/css/bootstrap.min.css" rel="stylesheet">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{{__urlAsset}}/css/nifty.min.css" rel="stylesheet">


    <!--Font Awesome [ OPTIONAL ]-->
    <link href="{{__urlAsset}}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!--Animate.css [ OPTIONAL ]-->
    <link href="{{__urlAsset}}/plugins/animate-css/animate.min.css" rel="stylesheet">

    <!--Switchery [ OPTIONAL ]-->
    <link href="{{__urlAsset}}/plugins/switchery/switchery.min.css" rel="stylesheet">


    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="{{__urlAsset}}/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


    <!--Demo script [ DEMONSTRATION ]-->
    <link href="{{__urlAsset}}/css/demo/nifty-demo.min.css" rel="stylesheet">


    <!--SCRIPT-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="{{__urlAsset}}/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="{{__urlAsset}}/plugins/pace/pace.min.js"></script>

    <style>
        body, #content-container{
            background-color: white !important;
        }

        .panel {
            border: 1px solid #ebeef0 !important;
        }
    </style>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="effect mainnav-out">

    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">

            <!--Brand logo & name-->
            <!--================================-->
            <div class="navbar-header"> </div>
            <!--================================-->
            <!--End brand logo & name-->


            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">

                   <!--Mega dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="mega-dropdown">
                        <a href="#" class="mega-dropdown-toggle">
                            <i class="fa fa-th-large fa-lg"></i>
                        </a>
                        <div class="dropdown-menu mega-dropdown-menu">
                            <div class="clearfix">
                                <div class="col-sm-12 col-md-3">

                                    <!--Mega menu widget-->
                                    <div class="text-center bg-purple pad-all">
                                        <h3 class="text-thin mar-no">Weekend shopping</h3>
                                        <div class="pad-ver box-inline">
												<span class="icon-wrap icon-wrap-lg icon-circle bg-trans-light">
													<i class="fa fa-shopping-cart fa-4x"></i>
												</span>
                                        </div>
                                        <p class="pad-btm">
                                            Members get <span class="text-lg text-bold">50%</span> more points. Lorem ipsum dolor sit amet!
                                        </p>
                                        <a href="#" class="btn btn-purple">Learn More...</a>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-md-3">

                                    <!--Mega menu list-->
                                    <ul class="list-unstyled">
                                        <li class="dropdown-header">Pages</li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Search Result</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Sreen Lock</a></li>
                                        <li><a href="#" class="disabled">Disabled</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Icons</li>
                                        <li><a href="#"><span class="pull-right badge badge-purple">479</span> Font Awesome</a></li>
                                        <li><a href="#">Skycons</a></li>
                                    </ul>

                                </div>
                                <div class="col-sm-4 col-md-3">

                                    <!--Mega menu list-->
                                    <ul class="list-unstyled">
                                        <li class="dropdown-header">Mailbox</li>
                                        <li><a href="#"><span class="pull-right label label-danger">Hot</span>Indox</a></li>
                                        <li><a href="#">Read Message</a></li>
                                        <li><a href="#">Compose</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Featured</li>
                                        <li><a href="#">Smart navigation</a></li>
                                        <li><a href="#"><span class="pull-right badge badge-success">6</span>Exclusive plugins</a></li>
                                        <li><a href="#">Lot of themes</a></li>
                                        <li><a href="#">Transition effects</a></li>
                                    </ul>

                                </div>
                                <div class="col-sm-4 col-md-3">

                                    <!--Mega menu list-->
                                    <ul class="list-unstyled">
                                        <li class="dropdown-header">Components</li>
                                        <li><a href="#">Tables</a></li>
                                        <li><a href="#">Charts</a></li>
                                        <li><a href="#">Forms</a></li>
                                        <li class="divider"></li>
                                        <li>
                                            <form role="form" class="form">
                                                <div class="form-group">
                                                    <label class="dropdown-header" for="demo-megamenu-input">Newsletter</label>
                                                    <input id="demo-megamenu-input" type="email" placeholder="Enter email" class="form-control">
                                                </div>
                                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End mega dropdown-->

                </ul>
                <ul class="nav navbar-top-links pull-right">

                </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->

        </div>
    </header>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">


            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">

                <!--Shortcut buttons-->
                <!--================================-->
                <div id="mainnav-shortcut"></div>
                <!--================================-->
                <!--End shortcut buttons-->


                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">
                            <ul id="mainnav-menu" class="list-group">

                                <!--Category name-->
                                <li class="list-header">Navegación</li>

                            </ul>


                            <!--Widget-->
                            <!--================================-->
                            <div class="mainnav-widget">


                            </div>
                            <!--================================-->
                            <!--End widget-->

                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

        <!--ASIDE-->
        <!--===================================================-->
        <aside id="aside-container">
            <div id="aside"><div class="nano"><div class="nano-content"></div></div></div>
        </aside>
        <!--===================================================-->
        <!--END ASIDE-->

    </div>



    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer"> </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL TOP BUTTON -->
    <!--===================================================-->
    <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    <!--===================================================-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="{{__urlAsset}}/js/jquery-2.1.1.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="{{__urlAsset}}/js/bootstrap.min.js"></script>


<!--Fast Click [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/fast-click/fastclick.min.js"></script>


<!--Nifty Admin [ RECOMMENDED ]-->
<script src="{{__urlAsset}}/js/nifty.min.js"></script>

<!--Sparkline [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/sparkline/jquery.sparkline.min.js"></script>


<!--Skycons [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/skycons/skycons.min.js"></script>


<!--Switchery [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/switchery/switchery.min.js"></script>


<!--Bootstrap Select [ OPTIONAL ]-->
<script src="{{__urlAsset}}/plugins/bootstrap-select/bootstrap-select.min.js"></script>

</body>
</html>
