/* CSS Document */
/* Big box with list of options */
#ajax_listOfOptions{
  position:absolute;  /* Never change this one */
  width:175px;  /* Width of box */
  height:250px;  /* Height of box */
  overflow:auto;  /* Scrolling features */
  border:1px solid #464c19;  /* Dark green border */
  background-color:#FFF;  /* White background color */
  text-align:left;
  font-size:1.2em;
  z-index:999999;
}
#ajax_listOfOptions div{  /* General rule for both .optionDiv and .optionDivSelected */
  margin:1px;    
  padding:1px;
  cursor:pointer;
  font-size:1.2em;
}
#ajax_listOfOptions .optionDiv{  /* Div for each item in list */
  
}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
  background-color:#f38a01;
  color:#FFF;
}
#ajax_listOfOptions_iframe{
  background-color:#464c19;
  position:absolute;
  z-index:900000;
}

